<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/cb4ab84028.js" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <link rel="stylesheet" href="../static/loginform.css">
  <title>Sign in</title>
</head>
<body>


  <div id="box">

    
      <div class="box1">


        <header id="lefthead">
        <h1>Hello!</h1>
         </header>


         <p>Sign in to your account</p>


         <form class="container1" method="POST"> 
          
          <div class="fontemail">
              <input type="email" placeholder="Email" name="email" value="" required> 
             <a><i class="fa-solid fa-envelope"></i></a>
          </div>
            
          <div class="fontpassword">
              <input type="password" placeholder="Password" name="password" value="" required> 
                      <a><i class="fa-solid fa-lock"></i></a>
          </div>     
          
          
          <input value="Sign in" type="submit" class="signupCreate"><a href="{{url_for('forms.SignUpPage')}}"></a>
        
     
        

       </form>

        <div class="createAccount">
        <p>Don't have an account?<a href="{{url_for('forms.SignUpPage')}}">Create</a></p>
		
      </div>


      </div>
    









      <div class="box2">
        <header id="righthead">
        <h1>Welcome Back!</h1>
      </header>
        <div class=container>
        <p>We're happy to have you on board and we can't wait to help you reach more news around Orghub!</p>
        </div>
      </div>

    </div>
  <!--<a href="#"><i class="fa-solid fa-envelope"></i></a>-->
</body>
</html>